<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>upload</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body>

<div>
    <hr>
    <div style="margin-left: 68px;">
        <button type="button" class="layui-btn" id="test1">
            <i class="layui-icon">&#xe67c;</i>通过multipart/from-data的传输类型上传一个文件
        </button>
    </div>
    <hr>

    <div style="margin-left: 68px;" class="layui-btn">
        <i class="layui-icon">&#xe67c;</i><label>通过multipart/from-data的传输类型上传多个文件</label>
        <input type="file" name="file" multiple="multiple"/>
    </div>
    <hr>

    <div style="margin-left: 68px;">
        <button type="button" class="layui-btn" id="test2">
            <i class="layui-icon">&#xe67c;</i>通过octect-stream的传输类型上传文件，文件名在url参数中
        </button>
    </div>
    <hr>

    <div style="margin-left: 68px;">
        <button type="button" class="layui-btn" id="test3">
            <i class="layui-icon">&#xe67c;</i>通过octect-stream的传输类型上传文件，文件名在request头中
        </button>
    </div>
    <hr>

    <div style="margin-left: 68px;">
        <button type="button" class="layui-btn" id="test4">
            <i class="layui-icon">&#xe67c;</i>通过octect-stream的传输类型上传文件，文件名在uri中
        </button>
    </div>

</div>


<script src="/static/layui/layui.js"></script>
<script>
    layui.use('upload', function () {
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            , url: '/upload/' //上传接口
            , done: function (res) {
                //上传完毕回调
            }
            , error: function () {
                //请求异常回调
            }
        });
    });
</script>
</body>
</html>