<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>upload</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/css/public.css" media="all"/>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-form.js"></script>
</head>
<body class="childrenBody">
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div style="margin-left: 68px;">
                <a href="download">to download page</a>
            </div>
        </form>
    </blockquote>
    <div>
        <hr>
        <form enctype="multipart/form-data">
            <div style="margin-left: 68px;" class="layui-inline">
                <button type="button" class="layui-btn" id="test1" style="width: 536px; text-align: left">
                    <i class="layui-icon">&#xe67c;</i>通过multipart/from-data的传输类型上传一个文件(直接点击此按钮上传文件)
                </button>
            </div>
        </form>
        <hr>

        <form enctype="multipart/form-data" method="post" action="/upload/upload2" id="upload2">
            <div style="margin-left: 68px;" class="layui-inline">
                <div class="layui-btn" style="width: 536px; text-align: left">
                    <i class="layui-icon">&#xe67c;</i><label>通过multipart/from-data的传输类型上传多个文件</label>
                </div>
                <input style="text-align: right" id="fileUpload2" type="file" name="file" multiple="multiple"/>
            </div>
            <div class="js_upload2 layui-btn">上传</div>
        </form>
        <hr>

        <form id="upload3">
            <div style="margin-left: 68px;" class="layui-inline">
                <div class="layui-btn" style="width: 536px; text-align: left">
                    <i class="layui-icon">&#xe67c;</i><label>通过octect-stream的传输类型上传文件，文件名在url参数中</label>
                </div>
                <input id="fileUpload3" type="file" name="file"/>
            </div>
            <div class="js_upload3 layui-btn">上传</div>
        </form>
        <hr>

        <form id="upload4">
            <div style="margin-left: 68px;" class="layui-inline">
                <div class="layui-btn" style="width: 536px; text-align: left">
                    <i class="layui-icon">&#xe67c;</i><label>通过octect-stream的传输类型上传文件，文件名在request头中</label>
                </div>
                <input id="fileUpload4" type="file" name="file"/>
            </div>
            <div class="js_upload4 layui-btn">上传</div>
        </form>
        <hr>

        <form id="upload5">
            <div style="margin-left: 68px;" class="layui-inline">
                <div class="layui-btn" style="width: 536px; text-align: left">
                    <i class="layui-icon">&#xe67c;</i><label>通过octect-stream的传输类型上传文件，文件名在uri中</label>
                </div>
                <input id="fileUpload5" type="file" name="file"/>
            </div>
            <div class="js_upload5 layui-btn">上传</div>
        </form>
        <hr>

    </div>

</form>
<script src="/static/layui/layui.js"></script>
<script>
    layui.use('upload', function () {
        var upload = layui.upload,
            $ = layui.jquery
        ;

        //通过multipart/from-data的传输类型上传一个文件
        var uploadInst1 = upload.render({
            elem: '#test1' //绑定元素
            , url: '/upload/upload1' //上传接口
            , accept: 'file'
            , done: function (res) {
                //上传完毕回调
                layer.msg(res.msg)
            }
            , error: function () {
                //请求异常回调
            }
        });

    });

    $(".js_upload2").click(function () {
        if ($('#fileUpload2').val().length == 0) {
            layer.msg("请先选择文件再上传");
            return;
        }
        $("#upload2").ajaxSubmit(
            function (data) {
                if (data.code == "0") {
                    layer.msg("上传成功");
                    setTimeout('window.location.reload()', 2000);
                }
            }
        )
    });

    $(".js_upload3").click(function () {
        if ($('#fileUpload3').val().length == 0) {
            layer.msg("请先选择文件再上传");
            return;
        }
        var fileName = $('#fileUpload3')[0].files[0].name;
        $.ajax({
            dataType: 'json',
            type: "post",
            url: "/upload/upload3?fileName=" + fileName,
            async: true,
            data: $('#fileUpload3')[0].files[0],
            processData: false, // 使数据不做处理
            contentType: "application/octet-stream",
            success: function (data) {
                if (data.code == "0") {
                    layer.msg("上传成功");
                    setTimeout('window.location.reload()', 2000);
                }
            }
        });
    })

    $(".js_upload4").click(function () {
        if ($('#fileUpload4').val().length == 0) {
            layer.msg("请先选择文件再上传");
            return;
        }
        var fileName = $('#fileUpload4')[0].files[0].name;
        $.ajax({
            dataType: 'json',
            type: "post",
            url: "/upload/upload4",
            beforeSend: function (request) {
                request.setRequestHeader("fileName", fileName);
            },
            async: true,
            data: $('#fileUpload4')[0].files[0],
            processData: false, // 使数据不做处理
            contentType: "application/octet-stream",
            success: function (data) {
                if (data.code == "0") {
                    layer.msg("上传成功");
                    setTimeout('window.location.reload()', 2000);
                }
            }
        });
    })

    $(".js_upload5").click(function (xhr) {
        if ($('#fileUpload5').val().length == 0) {
            layer.msg("请先选择文件再上传");
            return;
        }
        var fileName = $('#fileUpload5')[0].files[0].name;
        $.ajax({
            dataType: 'json',
            type: "post",
            url: "/upload/upload5/" + fileName,
            async: true,
            data: $('#fileUpload5')[0].files[0],
            processData: false, // 使数据不做处理
            contentType: "application/octet-stream",
            success: function (data) {
                if (data.code == "0") {
                    layer.msg("上传成功");
                    setTimeout('window.location.reload()', 2000);
                }
            }
        });
    })

</script>
</body>
</html>